.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    width: 460px;
}

//Search
.search {
    padding: 12px 15px;
    flex: 1;
    font-size: 1.6rem;
    width: 100%;
    background-color: #edeff0;
    border: 3px solid #d7dbdf;
    border-right: none;
    border-radius: 0.35em 0 0 0.35em;
    outline: none;
}

.search:placeholder-shown ~ .submit {
    background-color: #fafafa;
}

.submit {
    outline: none;
    border: none;
    padding: 6.5px 15px;
    border-radius: 0 0.35em 0.35em 0;
    background-color: var(--primary-color);
    cursor: pointer;
}

//Navigation

.lists {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    font-size: 1.6rem;
    list-style-type: none;
}

.item {
    display: block;
    min-width: 100px;

    text-align: center;
    text-transform: capitalize;
    text-decoration: none;

    padding: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}